<mat-sidenav-container color="primary" class="sidenav-container">
    <mat-sidenav color="secondary" #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
        <mat-toolbar style="height: 100px">
            <img src="/assets/logo.png" />
        </mat-toolbar>

        <mat-nav-list>
            <a mat-list-item routerLink="/veiculos/home" routerLinkActive="active-list-item">
                <mat-icon>directions_car</mat-icon> <span class="nav-caption">Veículos</span>
            </a>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" class="fixed-toolbar mat-elevation-z2">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span class="spacer"></span>
            <span flex></span>
            <button mat-button style="text-transform: uppercase" (click)="logout()">
                <mat-icon aria-hidden="false" aria-label="home icon">exit_to_app</mat-icon>Sair
            </button>
        </mat-toolbar>
        <!-- Add Content Here -->
        <div [ngClass]="{ foreground: loading }" style="height: 88vh">
            <div class="center" fxLayout="row" fxLayoutAlign="center center">
                <div fxFlex="100">
                    <mat-spinner class="mx-auto center" *ngIf="loading" [diameter]="50"> </mat-spinner>
                </div>
            </div>
            <div [ngClass]="{ background: loading }">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>